# Variables

In [ ]:
x = 2
y = 5
xy = 'Hey'
print x+y, xy

# Operators

In [2]:
print "sum ", 1+2
print "substract", 1-4
print "multiply ", 2*3
print "mod ", 15%10

sum  3
substract -3
multiply  6
mod  5

# Division

In [ ]:
1 / 2
1 / 2.0

In [ ]:
Floor division

In [4]:
2.8//2.0

1.0

# Built in functions

In [6]:
print int(7.7)
print int('7')

7
7

In [7]:
float(1)

1.0

In [8]:
print round(5.6231) 
print round(4.55892, 2)

6.0
4.56

In [9]:
print abs(-1)

1

In [10]:
print isinstance(1, int)
print isinstance(1.0,int)
print isinstance(1.0,(int,float))

True
False
True

In [11]:
print range(3)
print range(2,9)
print range(2,27,8)

[0, 1, 2]
[2, 3, 4, 5, 6, 7, 8]
[2, 10, 18, 26]

In [12]:
type(1)

int

In [13]:
print 'Hey'
print "Hey"

Hey
Hey

In [14]:
print """This is a multi 
line 
string"""

This is a multi
line
string

In [15]:
print "Version  {0} of python will replace version {1}".format("3", "2")

Version  3 of python will replace version 2

In [16]:
a = ["hello", "world"]
print ", ".join(a)

hello, world

# Excercise!

In [18]:
myExampleList = [1,2,3]
query = "Select * from a where id in ({0})"
# your code here
# Hint: use join and format
# returns "Select * from a where id in (1,2,3)"

In [19]:
a = "hello world"
print a.split(" ")

['hello', 'world']

# Functions

In [20]:
def times(x,y):
    '''multiplies two arguments'''
    return x*y

c = times(4,5)
print c

20

# Lists

In [23]:
a = []
print type(a)

<type 'list'>

In [24]:
x = ['apple', 'orange']
x[0]

'apple'

In [25]:
# Slicing
num = [0,1,2,3,4,5,6,7,8,9]

print num[0:4]
print num[4:]

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

In [26]:
len(num)

10

# Control flow

## If

In [44]:
x = 10
y = 12
if x > y:
    print "x>y"
elif x < y:
    print "x<y"
else:
    print "x=y"

x<y

## For

In [46]:
for i in range(5):
    print i

0
1
2
3
4

## Excercise!!

In [30]:
# example call 

myExampleList = [1,2,3]
print sumElement(myExampleList)
# returns a 6!!!

NameError: name 'sumElement' is not defined

## While

In [32]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

1
4
Bye

## Dictionaries

In [35]:
d0 = {}
print type(d0)

<type 'dict'>

In [36]:
d0['One'] = 1
d0['OneTwo'] = 12 
print d0

{'OneTwo': 12, 'One': 1}

In [37]:
print d0['One']

1

# Lambdas

In [39]:
z = lambda x: x * x
z(8)

64

## map

In [40]:
list1 = [1,2,3,4,5,6,7,8,9]
eg = map(lambda x:x+2, list1)
print eg

[3, 4, 5, 6, 7, 8, 9, 10, 11]

## filter

In [42]:
list1 = [1,2,3,4,5,6,7,8,9]
eg = filter(lambda x:x == 2, list1)
print eg

[2]

In [ ]:
## Excercise

In [43]:
myExampleList = [-1,-2,0,1,2,3]
# your code here
# returns [0,1,4,9]